/*seletor global - indica os elementos da html*/
*{
font-family: 'Gill Sans', sans-serif;
margin: 0; /*ponto externo*/
padding: 0; /*ponto interno*/
}
#cabecalho{
background-color: lavender;

}

#cabecalho > img{
width: 80px;
height: 80px;

}
#cabecalho >nav{
    display: flex;
    gap: 15px;
    /*justify-content: space-between;
    align-items: center; */
}

#cabecalho > nav > a{
color: mediumslateblue;
text-decoration: none;
font-size: 16 px;
}

